## Demo: autoencoders

In this notebook, we will demonstrate the use of a neural autoencoder for self-supervised feature learning/dimensionality reduction on the MNIST dataset.


*This notebook is based on: 
https://blog.keras.io/building-autoencoders-in-keras.html
https://stackabuse.com/autoencoders-for-image-reconstruction-in-python-and-keras/

### Load data

First, we will start by loading our MNIST dataset. We have 60,000 training samples, 10,000 test samples, and each sample is a 28x28x1 image (which we will reshape into a vector of 784 features). We will also rescale the features from to 0-255 range to 0-1 range.

Note that we don't read in the class labels - we don't need them, since the neural autoencoder will be trained using the input as the target.

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings("ignore")
from fashion_mnist_master.utils import mnist_reader
from keras import backend as K
from keras.datasets import mnist
from sklearn.manifold import TSNE
import pandas as pd
import keras
from keras import layers
from matplotlib.pyplot import imshow
from PIL import Image
import random
import seaborn as sns
from keras.layers import Input, Dense, Flatten, Reshape, Input, 
from keras.layers impor tInputLayer, Conv2D, MaxPooling2D, UpSampling2D
from keras.models import Sequential, Model

SyntaxError: invalid syntax (<ipython-input-1-9ca0b8f6f1b1>, line 17)

In [3]:
(xtrain, _)= mnist_reader.load_mnist('data/fashion', kind='train')
(xtest, _) = mnist_reader.load_mnist('data/fashion', kind='t10k')

In [4]:
df_pre_train = pd.DataFrame(data=xtrain)
print('Raw Train dataset:',df_pre_train.shape)
print('Raw Train Data head:')
df_pre_train.head()

Raw Train dataset: (60000, 784)
Raw Train Data head:

,0,1,2,3,4,5,6,7,8,9,...,774,775,776,777,778,779,780,781,782,783
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,1,0,0,0,0,...,119,114,130,76,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,22,...,0,0,1,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,33,96,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
df_pre_test = pd.DataFrame(data=xtest)
print('Raw Test dataset:',df_pre_test.shape)
print('Raw Test Data head:')
df_pre_test.head()

In [5]:
x_train = x_train.astype('float32') / 255.
x_test = x_test.astype('float32') / 255.
x_train = x_train.reshape((len(x_train), np.prod(x_train.shape[1:])))
x_test = x_test.reshape((len(x_test), np.prod(x_test.shape[1:])))
print(x_train.shape)
print(x_test.shape)

(60000, 784)
(10000, 784)

In [6]:
df_train = pd.DataFrame(data=x_train)
print('Train dataset:',df_train.shape)
print('Train Data head:')
df_train.head()

Train dataset: (60000, 784)
Train Data head:

,0,1,2,3,4,5,6,7,8,9,...,774,775,776,777,778,779,780,781,782,783
0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.003922,0.0,0.0,0.000000,0.000000,...,0.466667,0.447059,0.509804,0.298039,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.086275,...,0.000000,0.000000,0.003922,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.129412,0.376471,...,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
df_test = pd.DataFrame(data=x_test)
print('Test dataset:',df_test.shape)
print('Test Data head:')
df_test.head()

In [ ]:
K.clear_session()

encoding_dim = 32  # 32 floats -> compression of factor 24.5, assuming the input is 784 floats

# this is our input placeholder
input_img = Input(shape=(784,))
# "encoded" is the encoded representation of the input
encoded = Dense(encoding_dim, activation='relu')(input_img)
# this model maps an input to its encoded representation
encoder = Model(input_img, encoded)

# create a placeholder for an encoded (32-dimensional) input
encoded_input = Input(shape=(encoding_dim,))

# encode and decode some digits
# note that we take them from the *test* set
encoded_imgs = encoder.predict(x_test)
"""We can also see the mean values of all "pixels" of the encoded representation, and the mean sparsity (percent of "pixels" that are zero.)"""

print("Mean activation: %f" % encoded_imgs.mean())
print("Sparsity: %f" % np.mean(encoded_imgs == 0))

In [ ]:
score = encoder.evaluate(x_test, x_test, verbose=0)
print("Training Performance",score)

### Convolutional autoencoder

Since we are working with images, we should really use convolutional neural networks as encoders and decoders - convolutional networks work much better on images.

In [ ]:
from keras import backend as K
K.clear_session()

In [ ]:
from keras.layers import Input, Dense, Conv2D, MaxPooling2D, UpSampling2D
from keras.models import Model
from keras import backend as K

input_img = Input(shape=(28, 28, 1))  # adapt this if using `channels_first` image data format

x = Conv2D(16, (3, 3), activation='relu', padding='same')(input_img)
x = MaxPooling2D((2, 2), padding='same')(x)
x = Conv2D(8, (3, 3), activation='relu', padding='same')(x)
x = MaxPooling2D((2, 2), padding='same')(x)
x = Conv2D(8, (3, 3), activation='relu', padding='same')(x)
encoded = MaxPooling2D((2, 2), padding='same')(x)

# at this point the representation is (4, 4, 8) i.e. 128-dimensional

x = Conv2D(8, (3, 3), activation='relu', padding='same')(encoded)
x = UpSampling2D((2, 2))(x)
x = Conv2D(8, (3, 3), activation='relu', padding='same')(x)
x = UpSampling2D((2, 2))(x)
x = Conv2D(16, (3, 3), activation='relu')(x)
x = UpSampling2D((2, 2))(x)
decoded = Conv2D(1, (3, 3), activation='sigmoid', padding='same')(x)

autoencoder = Model(input_img, decoded)
autoencoder.compile(optimizer='adam', loss='binary_crossentropy',metrics=["accuracy"])

In [ ]:
autoencoder.summary()

In [ ]:
(x_train, _)= mnist_reader.load_mnist('data/fashion', kind='train')
(x_test, _) = mnist_reader.load_mnist('data/fashion', kind='t10k')

x_train = x_train.astype('float32') / 255.
x_test = x_test.astype('float32') / 255.
x_train = np.reshape(x_train, (len(x_train), 28, 28, 1))  
x_test = np.reshape(x_test, (len(x_test), 28, 28, 1))

In [ ]:
del history
history=autoencoder.fit(x_train, x_train,epochs=5,batch_size=256,shuffle=True,validation_data=(x_test, x_test))

In [ ]:
decoded_imgs = autoencoder.predict(x_test)
print(decoded_imgs.shape)

In [ ]:
from sklearn.manifold import TSNE
X_embedded = TSNE(n_components=2).fit_transform(decoded_imgs.reshape(10000,28*28))

In [ ]:
print(X_embedded.shape)

In [ ]:
import seaborn as sns
palette = sns.color_palette("bright", 10)
sns.scatterplot(X_embedded[:,0], X_embedded[:,1],legend='brief', palette=palette)